[Desktop Entry]
Type=Application
Name=BASE
GenericName=Video Editor
Comment=Edit and export videos easily
Exec=base %u
Icon=app.base.editor
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;editor;movie;clip;ffmpeg;subtitles;
MimeType=application/x-drift-project;x-scheme-handler/cutwire;
StartupWMClass=base
